
- Create Table
- add fk customer_id
- insert Customer
- insert Orders
---



```
create table Customers(
    customer_id int primary key,
    customer_name varchar(100),
    city varchar(100)
    
);

-- drop table Customers;
-- drop table Orders;
-- truncate table Orders;

create table Orders(
   order_id int ,
   order_date date,
   total_amount float,
   customer_id serial not null,
   primary key(order_id),
   constraint fk_customer_id
    foreign key(customer_id)
    references Customers(customer_id)
    
);

insert into customers(customer_id,customer_name,city)
values (1,'John Doe', 'New York'),
       (2,'Jane Smith', 'Los Angeles'),
       (3,'David John', 'Chicago');

insert into orders(order_id,order_date, total_amount,customer_id)
values
(1,'2022-05-10', 100.00,3),
(2,'2022-02-15', 150.00,2),
(3,'2022-03-20', 200.00,1);

select * from Customers;
select * from orders;




```



---
- add user and pass (john,1234)
- grant insert,update,select on Customer

---

```
create user john with password '1234';

select * from pg_user;

grant select ,insert,update ON Customers to john;
```



---
- select
- update jane marry
- insert joko

---

```
select * from Customers;

update Customers
set customer_name = 'Jane Marry'
where customer_id = 2;

insert into Customers (customer_id, customer_name,city)
values(4,'Joko D York','Jonggol');
```